/* Estilo para el enlace activo */
.sala.active {
  background-color: #007bff;
}

.custom-alert {
  width: 300px;
  text-align: center;
}

#resto {
  text-align: center;
}

#hora {
  color: rgb(121, 117, 117);
}

#date {
  color: rgb(121, 117, 117);
}

.email {
  color: rgb(121, 117, 117);
}

.boton {
  margin-bottom: 10px;
}

.proyecto {
  margin-top: 10px;
}