<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-black text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Apeiroo Rooms</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a [routerLink]="['/reservas']" [queryParams]="{ sala: 'upper' }" routerLinkActive="router-link-active" class="nav-link align-middle px-0">
                            <i class="bi bi-arrow-bar-up"></i> <span class="ms-1 d-none d-sm-inline">Sala de arriba</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/reservas']" [queryParams]="{ sala: 'lower' }" routerLinkActive="router-link-active" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-arrow-bar-down"></i> <span class="ms-1 d-none d-sm-inline">Sala de abajo</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{username}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" (click)="onLogout()">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
          <h2 class="my-4">Reservas activas</h2>

          <div *ngIf="reservas.length === 0">
            <p>No hay reservas activas</p>
          </div>
          <div class="table-responsive" *ngIf="reservas.length > 0">
            <table class="table">
              <thead>
                <tr>
                  <th id="hora">Hora</th>
                  <th>Resumen</th>
                  <th>Proyecto</th>
                  <th id="resto">Duración</th>
                  <th>Date</th>
                  <th>Owner</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reserva of reservas">
                  <!-- Usa el pipe 'date' con el formato 'HH:mm' -->
                  <td id="hora">{{ reserva.fechaHoraInicio | date: 'HH:mm' }}</td>
                  <td>{{ reserva.descripcion }}</td>
                  <!-- Aplica la clase personalizada 'proyecto-btn' -->
                  <td id="proyecto" class="proyecto-btn">{{ reserva.proyectoAsociado }}</td>
                  <td id="resto">{{ reserva.duracion }}m</td>
                  <td id="date">{{ reserva.fechaHoraInicio | date: 'd MMM' }}</td>
                  <td></td>
                  <td>
                    <i class="bi bi-pen"></i>&nbsp;&nbsp;
                    <i class="bi bi-backspace"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Botón para abrir el modal -->
          <button class="btn btn-primary boton" data-bs-toggle="modal" data-bs-target="#crearReservaModal">
            Crear reserva
          </button>
        </div>
    </div>
  </div>
  
  <!-- Modal para crear reserva -->
  <div class="modal fade" id="crearReservaModal" tabindex="-1" aria-labelledby="crearReservaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="sala === 'upper'" class="modal-title" id="crearReservaModalLabel">Crear Reserva Sala Arriba</h5>
          <h5 *ngIf="sala === 'lower'" class="modal-title" id="crearReservaModalLabel">Crear Reserva Sala Abajo</h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="reservation" (ngSubmit)="submitReservation()">
            <div class="mb-3">
              <label for="sala" class="form-label">Email:</label>
              <input type="email" class="form-control" id="sala" placeholder="Introduzca su correo">

            </div>
            <div class="mb-3">
              <label for="fechaHoraInicio" class="form-label">Fecha y Hora</label>
              <input type="datetime-local" class="form-control" id="fechaHoraInicio" formControlName="date">
              @if (inValidField('date')) {
                <span class="text-danger">Rellene este campo</span>

              }
            </div>
            <div class="mb-3">
              <label for="duracion" class="form-label">Duración (minutos)</label>
              <input type="number" class="form-control" id="duracion" placeholder="Duración en minutos" formControlName="duration">
              @if (inValidField('date')) {
                <span class="text-danger">Rellene este campo</span>

              }
            </div>
            <div class="mb-3">
              <label for="proyectoAsociado" class="form-label">Proyecto Asociado</label>
              <input type="text" class="form-control" id="proyectoAsociado" placeholder="Nombre del proyecto" formControlName="project">
              @if (inValidField('date')) {
                <span class="text-danger">Rellene este campo</span>

              }
            </div>
            <div class="mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <textarea class="form-control" id="descripcion" rows="3" placeholder="Descripción de la reserva" formControlName="description"></textarea>
              @if (inValidField('date')) {
                <span class="text-danger">Rellene este campo</span>

              }
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  